.btn-login
{
    -fx-text-fill: #fff;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
}

.btn-login:hover
{
    -fx-background-color: #51b84b;
}

#menu
{
    -fx-background-color: #2D2D2D;
}

.btn-menu
{
    -fx-text-fill: #919191;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
    -fx-font-size: 16;
}

.btn-menu:hover
{
    -fx-text-fill: #fff;
    -fx-background-color: #51b84b;
    -fx-font-family: "urbanist bold";
    -fx-font-size: 16;
}

.btn-donors
{
    -fx-text-fill: #fff;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
}

.btn-donors:hover
{
    -fx-background-color: #51b84b;
}

.shadow-pane
{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}


.pane-radius
{
    -fx-background-radius: 20;
}



.text-field1
{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,5.0);
    -fx-background-radius: 20;
}

.text-field2 {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,5.0);
    -fx-background-radius: 20;
    -fx-pref-height: 40px; /* Ajuster la hauteur */
    -fx-pref-width: 200px; /* Ajuster la largeur */
}

.text-field1 .text
{
}

.font1
{
    -fx-font-family: "urbanist bold";
}

.font2
{
    -fx-font-family: "comfortaa";
}

.button1,.buttonAdd,.buttonUpdate,.buttonDelete
{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,5.0);
    -fx-background-radius: 20;
    -fx-text-fill: #fff;
    -fx-background-color: #2D2D2D;
    -fx-cursor: hand;
    -fx-padding: 8, 0, 8, 0;
}
.button1 .text
{
}

.button1:hover,.buttonAdd:hover,.buttonUpdate:hover,.buttonDelete:hover
{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,5.0);
    -fx-background-radius: 20;
    -fx-text-fill: #fff;
    -fx-background-color: #51b84b;
    -fx-cursor: hand;
}
